.color{
    color: rgb(179, 69, 49);
}

.button-bg{
    background-color: rgb(179, 69, 49);
}

.font{
    font-weight: lighter;
}

.font1{
    font-family: 'Times New Roman', Times, serif;
}.bg{
    background-color: rgb(179, 69, 49);
}

.height{
    height: 60px;
}
.height1{
    height: 100px;
}

.border{

    padding: 10px;
    outline: 1px solid black;

}

.label{
    margin-top: 10px;
}